
@{
    ViewBag.Title = "BasicDetails";
}



<script src="~/Scripts/BasicDetails.js"></script>




<h2>Basic Details</h2>
<button onclick=skills()>
    Skills
</button>
<button onclick=education()>
    Education
</button>
<button onclick=hobby()>
    Hobbies
</button>