
@{
    ViewBag.Title = "Registration";
}
<div class="">
    <h1>Regestration form:</h1>
    <form method="post" action="Index">
        <label>Name</label>
        <br />
        <input type="text"  placeholder="Enter your name"value="" />
        <br />
        <label> Email</label>
        <br />
        <input type="text"  placeholder="Enter your Email"value="" />
        <br />
        <label>Gender</label>
        <br />
        <input type="text" placeholder="Enter your Gender"value="" />
        <br />
        <label>Age</label>
        <br />
        <input type="number" placeholder="Enter your Age"value="" />
        <br />
        <P></P>
        <input type="submit" name="Submit" />

    </form>



</div>

